{% extends "base.html" %}
{% load i18n cms_tags menu_tags sekizai_tags crispy_forms_tags %}

{% block page_title %}{% trans "Password reset" %}{% endblock %}

{% block base_content %}

  <form action="" method="post" class="form-horizontal" role="form">
    <h1>{% trans "Password reset" %}</h1>

    <p>{% trans "Enter your email address and we'll email you instructions for setting a new passwort." %}</p>

    {% csrf_token %}
    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">

      <div id="div_id_email" class="form-group{% if form.errors %} has-error{% endif %}">
        <label for="id_email" class="control-label requiredField">
          {% trans 'Email' %}
        </label>

        <div class="controls">
          <input class="textinput textInput form-control" id="id_email" maxlength="254" name="email" type="text">
          {% if form.email.errors %}
            <span id="error_1_id_email" class="help-block">{% for error in form.email.errors %}{{ error }}{% endfor %}</span>
          {% endif %}
        </div>
      </div>
      <div class="form-group">
        <input type="submit" name="submit" value="{% trans "Password reset" %}" class="button primary"/>
      </div>
    </div>
  </form>
{% endblock base_content %}
