{% extends "base.html" %}
{% load i18n cms_tags menu_tags sekizai_tags crispy_forms_tags static %}

{% block title %}{% trans 'Password change' %}{% endblock %}

{% block base_content %}

  <a href="{% url 'user-detail' request.user.pk %}" class="button pull-right">
    <span class="glyphicon glyphicon-chevron-left"></span>
    {% trans "Back to profile" %}
  </a>

  <form action="" method="post">
    {% csrf_token %}

    <h1>{% trans 'Password change' %}</h1>

    <p>{% trans "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." %}</p>


    <div id="div_id_old_password" class="form-group{% if form.old_password.errors %} has-error{% endif %}">
      <label for="id_old_password" class="control-label clearboth text-right requiredField col-lg-3 col-md-3">
        {% trans 'Old password' %}
      </label>

      <div class="controls col-lg-5 col-md-5">
        <input class="textinput textInput form-control" id="id_old_password" name="old_password" type="password">
        {% if form.old_password.errors %}
          <span id="error_1_id_old_password" class="help-block">{% for error in form.old_password.errors %}
            {{ error }}{% endfor %}</span>
        {% endif %}
      </div>
    </div>

    <div id="div_id_new_password1" class="form-group{% if form.new_password1.errors %} has-error{% endif %}">
      <label for="id_new_password1" class="control-label clearboth text-right requiredField col-lg-3 col-md-3">
        {% trans 'New password' %}
      </label>

      <div class="controls col-lg-5 col-md-5">
        <input class="textinput textInput form-control" id="id_new_password1" name="new_password1" type="password">
        {% if form.old_password.errors %}
          <span id="error_1_id_new_password1" class="help-block">{% for error in form.new_password1.errors %}
            {{ error }}{% endfor %}</span>
        {% endif %}
      </div>
    </div>

    <div id="div_id_new_password2" class="form-group{% if form.new_password2.errors %} has-error{% endif %}">
      <label for="id_new_password2" class="control-label clearboth text-right requiredField col-lg-3 col-md-3">
        {% trans 'Password (again)' %}
      </label>

      <div class="controls col-lg-5 col-md-5">
        <input class="textinput textInput form-control" id="id_new_password2" name="new_password2" type="password">
        {% if form.old_password.errors %}
          <span id="error_1_id_new_password2" class="help-block">{% for error in form.new_password2.errors %}
            {{ error }}{% endfor %}</span>
        {% endif %}
      </div>
    </div>

    <div class="clearboth col-lg-3 col-md-3">&nbsp;</div>
    <div class="p-top col-lg-5 col-md-5">
      <input type="submit" value="{% trans 'Change my password' %}" class="button primary"/>
    </div>

    <script type="text/javascript">document.getElementById("id_old_password").focus();</script>
  </form>

{% endblock base_content %}
