{% extends "base.html" %}
{% load i18n cms_tags menu_tags sekizai_tags crispy_forms_tags %}

{% block title %}{% trans 'Password change successful' %}{% endblock %}

{% block base_content %}

  <h1>{% trans 'Password change successful' %}</h1>

  <p>{% trans 'Your password was changed.' %}
    <a href="{% url 'user-detail' request.user.pk %}"
       class="btn btn-default">
      <span class="glyphicon glyphicon-user"></span>
      {% trans "See your profile" %}
    </a>
  </p>


{% endblock base_content %}
