{% extends "base.html" %}
{% load i18n cms_tags menu_tags sekizai_tags crispy_forms_tags %}

{% block title %}{% trans 'Password reset successful' %}{% endblock %}

{% block base_content %}

  <h1>{% trans 'Password reset successful' %}</h1>

  {% if user.is_authenticated %}
    {% trans "Go to your profile" %}: <a href="{% url 'user-detail' user.pk %}">{{ user.first_name }} {{ user.last_name }}</a>

  {% else %}
    <a href="{% url 'django.contrib.auth.views.login' %}" class="button primary">{% trans "Login" %}</a>

  {% endif %}

{% endblock base_content %}
