{% extends "base.html" %}
{% load i18n cms_tags menu_tags sekizai_tags crispy_forms_tags %}

{% block title %}{% trans 'Password reset' %}{% endblock %}

{% block base_content %}

  {% if validlink %}

    <h1>{% trans 'Enter new password' %}</h1>

    <form action="" method="post">{% csrf_token %}

      <div id="div_new_password1" class="form-group{% if form.new_password1.errors %} has-error{% endif %}">
        <label for="id_new_password1" class="control-label clearboth text-right col-lg-3 col-md-3">
          <label for="id_new_password1">{% trans 'New password:' %}</label>
        </label>

        <div class="controls col-lg-5 col-md-5">
          <input class="textinput textInput form-control" id="id_new_password1" name="new_password1" type="password">
          {% if form.new_password1.errors %}
            <span id="error_1_id_new_password1" class="help-block">{% for error in form.new_password1.errors %}{{ error }}{% endfor %}</span>
          {% endif %}
        </div>
      </div>

      <div id="div_new_password2" class="form-group{% if form.new_password2.errors %} has-error{% endif %}">
        <label for="id_new_password2" class="control-label clearboth text-right col-lg-3 col-md-3">
          <label for="id_new_password2">{% trans 'Confirm password:' %}</label>
        </label>

        <div class="controls col-lg-5 col-md-5 last-form-element">
          <input class="textinput textInput form-control" id="id_new_password2" name="new_password2" type="password">
          {% if form.new_password2.errors %}
            <span id="error_1_id_new_password2" class="help-block">{% for error in form.new_password2.errors %}{{ error }}{% endfor %}</span>
          {% endif %}
        </div>
      </div>

      <div class="clearboth col-lg-3 col-md-3">&nbsp;</div>
      <div class="pad-bottom col-lg-5 col-md-5">
        <input type="submit" value="{% trans 'Change my password' %}" class="button primary"/>
      </div>

    </form>

  {% else %}

    <h1>{% trans 'Password reset unsuccessful' %}</h1>

    <p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>

  {% endif %}

{% endblock base_content %}
