Django==1.5.8
Fabric==1.8.0
Pillow==2.1.0
South==0.8.2

cmsplugin-filer==0.9.5
django-cms==2.4.3
django-crispy-forms==1.4.0
django-embed-video==0.6
django-endless-pagination==2.0
django-filer==0.9.5
django-mptt==0.6.0 # required by django-cms
django-select2-forms==1.1.17
django-suit==0.2.8
# django-recaptcha==0.0.6
django-sekizai==0.7
easy-thumbnails==1.3
fabric-virtualenv==0.2.1
psycopg2==2.5.2
