@import "variables";

.container {
  -moz-box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
}

.container:before, .container:after {
  content: " ";
  display: table;
}

.container:after {
  clear: both;
}

.pagehead {
  /*border-bottom: 1px solid $border-color;*/
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}

.bubble {
  padding: 3px;
  background: none repeat scroll 0% 0% $border-color;
  border-radius: 3px 3px 3px 3px;
}

.bubble-inner {
  border: 1px solid $bubble-border-color;
  background-color: $white;
}

.bubble-inner .meta {
  height: 43px;
  padding: 5px;
  border-bottom: 1px solid $bubble-border-color;
  text-shadow: 0px 1px 0px $white;
  background-color: $grey-light-darker;
  background-image: linear-gradient($grey-light, $grey-light-darker);
  background-repeat: repeat-x;
}

.bubble-contents {
}

.vmiddle {
  vertical-align: middle;
}

.center {
  float: none;
  margin-left: auto;
  margin-right: auto;
}