@import 'general';
@import 'utils';
@import 'table';
@import 'table_indicators';
@import 'indicators';
@import 'ctl_slider';

$page-width: 980px;

.container-page {
  width: 100%;
  padding-left: 0px;
  padding-right: 0px;
}

.container-header {
  padding-bottom: 25px;
  margin-bottom: 15px;
  border-bottom: 1px solid #E5E5E5;
}

.container-header {
  text-align: center;
}

.cke_editable {
  padding: 1px 10px 1px 10px;
}

.back-to-matrix {
  float: left;
  display: inline-block;
}

/* GENERAL - Start */

.divcontainer:before,
.divcontainer:after {
  content: "";
  display: table;
}

.divcontainer:after {
  clear: both;
}

/* For IE 6/7 (trigger hasLayout) */
.divcontainer {
  zoom: 1;
}

/* end -------------- */

.page-wrapper {
  padding: 0px 30px 5% 30px;
}

#header-container {
  margin-bottom: 45px;
}

.main-page-introtext {
  padding-bottom: 50px;
}

.main-page-container-link-title {
  font-size: 4rem;
}

.main-page-container-link :hover {
  text-decoration: none;
}

.main-page-container-link-description,
.main-page-container-link-description:hover {
  color: #666666;
}

.whitebg {
  background-color: $grey-light;
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: none;
  }
}

#footer-container {
  clear: both;
  float: right;
  padding: 200px 0px 30px 0px;
  color: $grey;
}

#footer-contents > a {
  color: $ecg-turquoise-color;
}

.clear-both {
  clear: both;
}

/* Action */

.ind-trigger {
  cursor: pointer;
}

/* NEW STYLES */

.ecg-matrix-header {
  max-width: 600px;
  margin-bottom: $distance-biggest;
  margin-left: auto;
  margin-right: auto;
}

.company-detail-link {
  display: block;
}

#ecg-matrix-container {
  padding-bottom: 50px;
}

.company-balance-indicator-points {
  padding-top: $distance-small;
  padding-right: $distance-bigger;
}

.company-balance-indicator-text {
  padding: 10px 10px 5px 10px;
}

.feedback-container {
  margin-top: $distance-biggest;
}

@media (min-width: 979px) {
  .save-button-container.affix-top {
    position: static;
  	margin-top:25px;
  	width:228px;
  }

  .save-button-container.affix {
    position: fixed;
    top:25px;
    width:228px;
  }
}

.affix,.affix-top {
   position:static;
}
