@import "variables";

.profile-user-avatar-empty {
  width: 230px;
  height: 230px;
  font-size: 15em;
}

$company-logo-width: 100px;
.profile-company-logo > .glyphicon {
  width: $company-logo-width;
  font-size: 5em;
}

.no-logo-space {
  float: left;
  width: $company-logo-width;
  height: $company-logo-width;
}

.profile-user-name {
  padding-top: $distance-normal;
  font-size: 2em;
  font-weight: bold;
}

.profile-user-details {
  margin-top: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-top: 1px solid $grey-light-border;
  color: $grey-dark;

  .glyphicon {
    position: relative;
    top: 3px;
    margin-right: $distance-small;
    color: $grey;
  }
}

.profile-company-header {
  padding-bottom: $distance-normal;
  margin-bottom: $distance-biggest;
  border-bottom: 1px solid $grey-light-border;
}

.profile-company-logo {
  float: left;
  height: 100px;
}

.profile-company-details {
  float: left;
  margin-left: $distance-bigger;
}

.profile-company-details-name {
  margin-top: 15px;
  font-size: 2.5em;
}

.profile-company-details-item {
  margin-right: $distance-big;
  font-size: 0.87em;
  color: $grey-dark;

  a {
    color: $grey-dark;
  }
}

.profile-company-details-item {
  .glyphicon {
    color: $grey;
  }
}

.profile-company-tabs {
}

.profile-company-tab-panes {
  margin-left: $distance-bigger;
}

.company-data-item {
  margin-bottom: $distance-bigger;
}
