@import "variables";

.profile-user-avatar-empty {
  width: 230px;
  height: 230px;
  font-size: 15em;
  color: $grey;

  &:hover {
    color: $grey-middle-light;
  }
}

.profile-user-name {
  padding-top: $distance-normal;
  font-size: 2em;
  font-weight: bold;
}

.profile-user-details {
  margin-top: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-top: 1px solid $grey-light-border;
  color: $grey-dark;

  .glyphicon {
    position: relative;
    top: 3px;
    margin-right: $distance-small;
    color: $grey;
  }
}
