/* @import must be at top of file, otherwise CSS will not work */
/*
@font-face {
  font-family: 'deliusregular';
  src: url('../fonts/delius-regular-webfont.eot');
  src: url('../fonts/delius-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/delius-regular-webfont.woff') format('woff'), url('../fonts/delius-regular-webfont.ttf') format('truetype'), url('../fonts/delius-regular-webfont.svg#deliusregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
*/
/* Colors */
/* Font Sizes */
/* Borders */
/* Buttons */
.breadcrumb {
  padding: 0;
}

/* Bootstrap Adjustments */
.navbar a.navbar-brand {
  padding: 5px;
}

/*
 * Fixes showing dropdown menu when slowly hovering it.
 */
.dropdown-toggle {
  padding-bottom: 20px;
}

.breadcrumb > li {
  display: inline-block;
}

.breadcrumb > li + li:before {
  padding: 0 5px;
  color: #a2a2a2;
  content: "\003E";
}

.breadcrumb > .active {
  color: #a2a2a2;
}

.breadcrumb a {
  color: #a2a2a2;
}

/* GENERAL */
img {
  border: 0 none;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

img.left {
  float: left;
  margin-right: 40px;
}

img.right {
  float: right;
  margin-left: 40px;
}

.img-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.displaynone {
  display: none;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

.clearboth {
  clear: both;
}

/*
    pesticide v0.1.0 . @mrmrs . MIT
*/
