/* Colors */
/* Font Sizes */
/* Borders */
/* Buttons */
/* Distances */
/* @import must be at top of file, otherwise CSS will not work */
/*
@font-face {
  font-family: 'deliusregular';
  src: url('../fonts/delius-regular-webfont.eot');
  src: url('../fonts/delius-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/delius-regular-webfont.woff') format('woff'), url('../fonts/delius-regular-webfont.ttf') format('truetype'), url('../fonts/delius-regular-webfont.svg#deliusregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
*/
/* Colors */
/* Font Sizes */
/* Borders */
/* Buttons */
/* Distances */
/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 40px;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 40px;
  padding-top: 10px;
  border-top: 1px solid #EEEEEE;
  font-size: 0.75rem;
  background-color: white;
  color: #a2a2a2;
}

/* Font-Sizes
-------------------------------------------------- */
html {
  font-size: 14px;
}

@media (max-width: 900px) {
  html {
    font-size: 12px;
  }
}
@media (max-width: 400px) {
  html {
    font-size: 10px;
  }
}
/* Type will scale with modules */
h1 {
  font-size: 3em;
}

h2 {
  font-size: 2.5em;
}

h3 {
  font-size: 2em;
}

/* Bootstrap Adjustments */
.breadcrumb {
  padding: 0;
}

.navbar a.navbar-brand {
  padding: 5px;
}

/*
 * Fixes showing dropdown menu when slowly hovering it.
 */
.breadcrumb > li {
  display: inline-block;
}

.breadcrumb > li + li:before {
  padding: 0 5px;
  color: #a2a2a2;
  content: "\003E";
}

.breadcrumb > .active {
  color: #a2a2a2;
}

.breadcrumb a {
  color: #a2a2a2;
}

/* GENERAL */
img {
  border: 0 none;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

img.left {
  float: left;
  margin-right: 40px;
}

img.right {
  float: right;
  margin-left: 40px;
}

.img-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.img-link {
  /* remove outline for Firefox */
  outline: none;
  -moz-outline-style: none;
}

.img-link:focus {
  /* remove outline for Firefox */
  outline: none;
  -moz-outline-style: none;
}

.displaynone {
  display: none;
}

.display-none {
  display: none;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

.clearboth {
  clear: both;
}

.pointer {
  cursor: pointer;
}

.header-end {
  clear: both;
}

.center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.word-wrap {
  -moz-hyphens: auto;
  word-wrap: break-word;
}

.no-decoration {
  text-decoration: none;
  color: inherit;
}
.no-decoration:hover {
  text-decoration: none;
}

.unselectable {
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  /* No support for these yet, use at own risk */
  -o-user-select: none;
  user-select: none;
}

.centered-text-to-img {
  position: relative;
  top: 5px;
  font-size: 2em;
}

.centered-text-to-no-img {
  position: relative;
  top: 25px;
  font-size: 2em;
}

.space-left {
  margin-left: 15px;
}

/* FORMS */
.page-form {
  padding-top: 20px;
}

.form-group {
  padding-bottom: 10px;
}
.form-group .controls {
  margin-bottom: 10px;
}

.control-label {
  padding-top: 8px;
}
.control-label .asteriskField {
  padding-left: 2px;
}

.asteriskField {
  color: #bd2c00;
}

.glyphicon.glyphicon-grey {
  color: #cccccc;
}
.glyphicon.glyphicon-grey:hover {
  color: #a2a2a2;
}

.glyphicon.glyphicon-greyer {
  color: #a2a2a2;
}

.last-form-element {
  padding-bottom: 15px;
}

.p-top {
  padding-top: 10px;
}

.width-half {
  width: 49%;
}

.django-select2.form-control {
  padding: 0;
  border: 0;
}

/* Colors */
/* Font Sizes */
/* Borders */
/* Buttons */
/* Distances */
.ecg-violet {
  background-color: #c54d94;
  color: white;
}

.ecg-green {
  color: #cccb98;
}

.ecg-green-bg {
  background-color: #cccb98;
  color: white;
}

.ecg-green-b {
  color: #cccb98;
  font-weight: bold;
}

.ecg-blue {
  color: #99cccc;
}

.ecg-blue-b {
  color: #99cccc;
  font-weight: bold;
}

.negative-color {
  color: #de6b3c;
}

.negative-color-b {
  color: #de6b3c;
  font-weight: bold;
}

/* Colors */
/* Font Sizes */
/* Borders */
/* Buttons */
/* Distances */
.button {
  display: inline-block;
  position: relative;
  padding: 7px 15px;
  font-size: 13px;
  font-weight: bold;
  vertical-align: middle;
  white-space: nowrap;
  cursor: pointer;
  background-color: #eaeaea;
  background-image: linear-gradient(white, #eaeaea);
  background-repeat: repeat-x;
  border-color: #e5e5e5;
  border-image: none;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  outline: medium none;
  color: #333333;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.898);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
}

.button:hover {
  background-color: #e0e0e0;
  background-image: linear-gradient(white, #e0e0e0);
  background-repeat: repeat-x;
  border-color: #dbdbdb;
  color: #333333;
  text-decoration: none;
}

.button:active,
.button.selected {
  background-color: #e0e0e0;
  background-image: none;
  border-color: #d1d1d1;
  text-decoration: none;
}

.button:disabled,
.button:disabled:hover,
.button.disabled,
.button.disabled:hover {
  background-color: #eaeaea;
  background-image: none;
  border-color: #C5C5C5;
  box-shadow: none;
  color: #666666;
  opacity: 0.5;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.898);
  cursor: default;
}

.button.primary {
  background-color: #60b044;
  background-image: linear-gradient(#9cd189, #60b044);
  background-repeat: repeat-x;
  border-color: #5ca941;
  color: white;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.button.primary:hover {
  background-color: #58a13e;
  background-image: linear-gradient(#8fcc7a, #58a13e);
  background-repeat: repeat-x;
  border-color: #549a3b;
  color: white;
}

.button.primary:active,
.button.primary.selected {
  background-color: #58a13e;
  background-image: none;
  border-color: #4c8b36;
}

.button.primary:disabled,
.button.primary:disabled:hover,
.button.primary.disabled,
.button.primary.disabled:hover {
  background-color: #60b044;
  background-image: linear-gradient(#9cd189, #60b044);
  background-repeat: repeat-x;
  border-color: #70bd55 #70bd55 #509339;
  color: white;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

/*
    pesticide v0.1.0 . @mrmrs . MIT
*/
#wrap {
  padding-bottom: 60px;
}

.button > .glyphicon {
  margin-right: 5px;
}
