@import "variables";

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

$footer-height: 40px;
body {
  /* Margin bottom by footer height */
  margin-bottom: $footer-height;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: $footer-height;
  padding-top: 10px;
  border-top: 1px solid #EEEEEE;
  font-size: $font-size-smaller;
  background-color: $white;
  color: $grey-middle-light;
}


/* Bootstrap Adjustments */
.breadcrumb {
    padding: 0;
}

.navbar a.navbar-brand {
  padding: 5px;
}

/*
 * Fixes showing dropdown menu when slowly hovering it.
 */
.dropdown-toggle {
  padding-bottom: 20px;
}

.breadcrumb > li {
  display: inline-block;
}

.breadcrumb > li + li:before {
  padding: 0 5px;
  color: $grey-middle-light;
  content: "\003E";
}

.breadcrumb > .active {
  color: $grey-middle-light;
}

.breadcrumb a {
  color: $grey-middle-light;
}

/* GENERAL */

img {
  border: 0 none;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

img.left {
  float: left;
  margin-right: 40px;
}

img.right {
  float: right;
  margin-left: 40px;
}

.img-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.displaynone {
  display: none;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

.clearboth {
  clear: both;
}