/* Colors */
$color-lighten-percentage: 30%;

$grey: #CCCCCC;
$grey-middle: #555555;
$grey-middle-light: lighten($grey-middle, $color-lighten-percentage);
$grey-border: #D8D8D8;
$grey-light: #FEFEFE;
$grey-light-darker: #F8F8F8;
$grey-light-border: #E5E5E5;
$grey-dark: #5C5C5C;
$grey-darkest: #414141;

$border-color: #EEEEEE;
$bubble-border-color: #CCCCCC;

$white: #FFFFFF;
$black: #000000;
$red: #BD2C00;

$ecg-turquoise-color: #99CCCC;
$ecg-olive-color: #CCCB98;
$ecg-green2: #94BE4E;

$negative-color: #DE6B3C;
$negative-content-color: #7B7C7F;
$basic-level-color: #E8B809;
$advanced-level-color: #FFF101;
$experienced-level-color: #A3CF9A;
$model-level-color: #40AE49;

$violet-color: #C54D94;

/* Font Sizes */
$font-size-bigger: 18px;
$font-size-big: 16px;
$font-size: 14px;
$font-size-smaller: 12px;
$font-size-smallest: 10px;

/* Borders */
$border-medium-size: 4px;

/* Buttons */
$button-lighten-percentage: 20%;

$btn-normal-color: #EAEAEA;
$btn-normal-text-color: #333333;
$btn-normal-lighter-color: lighten($btn-normal-color, $button-lighten-percentage);
$btn-normal-border-color: darken($btn-normal-color, 2%);

$btn-normal-hover-color: darken($btn-normal-color, 4%);
$btn-normal-hover-lighter-color: lighten($btn-normal-hover-color, $button-lighten-percentage);
$btn-normal-hover-border-color: darken($btn-normal-hover-color, 2%);

$btn-normal-hover-color: darken($btn-normal-color, 4%);
$btn-normal-selected-color: darken($btn-normal-color, 10%);

$btn-normal-disabled-border-1-color: lighten($btn-normal-color, 6%);
$btn-normal-disabled-border-2-color: darken($btn-normal-color, 8%);


$primary-color: #60B044;
$primary-lighter-color: lighten($primary-color, $button-lighten-percentage);
$primary-border-color: darken($primary-color, 2%);

$primary-hover-color: darken($primary-color, 4%);
$primary-hover-lighter-color: lighten($primary-hover-color, $button-lighten-percentage);
$primary-hover-border-color: darken($primary-hover-color, 2%);

$primary-hover-color: darken($primary-color, 4%);
$primary-selected-color: darken($primary-color, 10%);

$primary-disabled-border-1-color: lighten($primary-color, 6%);
$primary-disabled-border-2-color: darken($primary-color, 8%);

/* Distances */
$distance-small: 5px;
$distance-normal: 10px;
$distance-big: 15px;
$distance-bigger: 20px;
