/* Colors */
/* Font Sizes */
/* Borders */
/* Buttons */
/* Distances */
.profile-user-avatar-empty {
  width: 230px;
  font-size: 15em;
}

.profile-company-logo > .glyphicon {
  width: 100px;
  font-size: 5em;
}

.no-logo-space {
  float: left;
  width: 100px;
  height: 100px;
}

.profile-user-name {
  padding-top: 10px;
  font-size: 2em;
  font-weight: bold;
}

@media (min-width: 480px) and (max-width: 767px) {
  .profile-user-avatar-empty {
    font-size: 10em;
  }

  .profile-user-name {
    font-size: 1.1em;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .profile-user-avatar-empty {
    font-size: 12em;
  }

  .profile-user-name {
    font-size: 1.4em;
  }
}
.profile-user-details {
  margin-top: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-top: 1px solid #e5e5e5;
  color: #5c5c5c;
}
.profile-user-details .glyphicon {
  position: relative;
  top: 3px;
  margin-right: 5px;
  color: #cccccc;
}

.profile-company-header {
  padding-bottom: 10px;
  margin-bottom: 30px;
  border-bottom: 1px solid #e5e5e5;
}

.profile-company-logo {
  float: left;
  height: 100px;
  text-align: center;
}

.img-centered-helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.profile-company-details {
  float: left;
  margin-left: 20px;
}

.profile-company-details-name {
  margin-top: 15px;
  font-size: 2.5em;
}

.profile-company-details-item {
  margin-right: 15px;
  font-size: 0.87em;
  color: #5c5c5c;
}
.profile-company-details-item a {
  color: #5c5c5c;
}

.profile-company-details-item .glyphicon {
  color: #cccccc;
}

.profile-company-tab-panes {
  margin-left: 20px;
}

.company-data-item {
  margin-bottom: 20px;
}

/* company overview map */
.leaflet-container {
  width:  100%;
  height: 500px;
}

#specialbigmap {
  height: 800px;
}
