{% load i18n cms_tags menu_tags sekizai_tags thumbnail crispy_forms_tags %}
{% load static from staticfiles %}

<div class="ecg-balance-header bubble">

  <div class="bubble-inner unselectable">
    <a href="{% url 'balance-detail' company_slug=company_balance.company.slug pk=company_balance.id %}"
       class="no-decoration center">
      <h2 class="company-balance-header">{% trans 'ECG Balance' %} {{ company_balance.year }}</h2>
    </a>
    {% if company_balance.status == 'draft' %}
      <h4 class="center balance-status">{{ company_balance.get_status_display }}</h4>
    {% endif %}
    <div class="center">{% trans "Points" %}: {{ company_balance.points }} {% trans "of 1000" %}</div>

    <div class="ecg-balance-header__company">
      <a href="{% url 'company-detail' company_balance.company.slug %}"
         class="company-detail-link no-decoration center clearfix">

        {% if company_balance.company.logo %}
          <img class="" src="{% thumbnail company_balance.company.logo 50x0 crop=scale upscale %}" alt=""/>
        {% endif %}
        <span class="centered-text-to-img--smaller">{{ company_balance.company }}</span>
      </a>
    </div>

  </div>
</div>