{% extends "base.html" %}
{% load i18n cms_tags menu_tags sekizai_tags %}
{% load static from staticfiles %}

{% block css %}
{{ block.super }}
<link href="{% static 'ecg_balancing/css/company_balance.css' %}" rel="stylesheet">
{% endblock css %}

{% block page_title %}{{ object.company }} - {% trans 'ECG Balance'%} {{ object.year|date:"Y" }}{% endblock %}

{% block base_content %}
<div class="text-center">
  <h1>{{ object.company }}</h1>
  <h2>{% trans 'ECG Balance'%} {{ object.year|date:"Y" }}</h2>
</div>

{% get_current_language as LANGUAGE_CODE %}
<div id="ecg-matrix-container" class="container container-page">
  {% with 'ecg_balancing/dustjs/company_balance_overview-output_'|add:LANGUAGE_CODE|add:'.html' as matrix_html %}
  {% include matrix_html %}
  {% endwith %}
</div>

{% endblock base_content %}


{% block javascript %}
{{ block.super }}
<script src="{% static 'ecg_balancing/js/utils.js' %}"></script>
<script type="text/javascript">
var indicatorBaseUrl = location.href;
</script>
<script src="{% static 'ecg_balancing/js/company_balance_detail.js' %}"></script>
{% endblock javascript %}
