{% extends "base.html" %}
{% load i18n cms_tags menu_tags sekizai_tags %}
{% load static from staticfiles %}

{% block css %}
{{ block.super }}
<link href="{% static 'ecg_balancing/css/company_balance.css' %}" rel="stylesheet">
{% endblock css %}

{% block page_title %}{{ object.indicator|upper }} - {{ object.company_balance.company }} - {% trans 'ECG Balance'%} {{ object.company_balance.year|date:"Y" }}{% endblock %}

{% block base_content %}
<div class="indicator-page-header text-center">
  <h1>{{ object.company_balance.company }}</h1>
  <h2>{% trans 'ECG Balance'%} {{ object.company_balance.year|date:"Y" }}</h2>
</div>

<h2 class="indicator-page-title center ecg-green">{{ object.indicator|upper }} - Titel des Indikators kommt hier</h2>
<div class="indicator-editor-container bubble">
    <div class="bubble-inner">
        <div class="row meta">
          <div class="meta-left col-lg-8 col-md-8 col-sm-12 col-xs-12">
          </div>
          <div class="meta-right col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <button type="button" class="button primary pull-right">{% trans "Save" %}</button>
            <div id="company-balance-indicator-{{object.indicator}}-0-slider" class="company-balance-indicator-slider pull-right">
              <!--<input id="ohai" type="number" theme="flat" label="Punkte" min="0" max="90" step="1" class=" ctl-input" style="width: 2ex;">-->
              <input id="company-balance-indicator-{{object.indicator}}-0-points" type="text" value="0" name="demo1" class="center">
            </div>
          </div>
        </div>

        <div class="bubble-contents">
            <textarea name="company-balance-indicator-{{object.indicator}}-0-editor">
                <p>Editieren Sie diesen Indikator:</p>
                <ul>
                    <li>darauf klicken</li>
                    <li>editieren</li>
                </ul>
            </textarea>
        </div>

    </div>
</div>

{% for subindicator in subindicators %}

<div class="indicator-editor-container bubble">
    <div class="bubble-inner">
        <div class="row meta">
          <div class="meta-left col-lg-8 col-md-8 col-sm-12 col-xs-12">
            <h3 class="subindicator-title ecg-green" data-position="{{ subindicator.subindicator_number }}"></h3>
          </div>
          <div class="meta-right col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <button type="button" class="button primary pull-right">{% trans "Save" %}</button>
            <div id="company-balance-indicator-{{subindicator.slugify}}-slider" class="company-balance-indicator-slider pull-right">
              <!--<input id="ohai" type="number" theme="flat" label="Punkte" min="0" max="90" step="1" class=" ctl-input" style="width: 2ex;">-->
              <input id="company-balance-indicator-{{subindicator.slugify}}-points" type="text" value="0" name="demo1" class="center">
            </div>
          </div>
        </div>

        <div class="bubble-contents">
            <textarea name="company-balance-indicator-{{subindicator.slugify}}-editor">
                <p>Editieren Sie diesen Indikator</p>
                <ul>
                    <li>darauf klicken</li>
                    <li>editieren</li>
                </ul>
            </textarea>
        </div>

    </div>
</div>
{% endfor %}

{% endblock base_content %}


{% block javascript %}
{{ block.super }}
<script src="{% static 'ecg_balancing/js/vendor/ckeditor/ckeditor.js' %}"></script>
<!--<script src="{% static 'ecg_balancing/js/vendor/ctl.singlefile.experimental.min.js' %}"></script>-->
<script src="{% static 'ecg_balancing/js/vendor/bootstrap.touchspin.js' %}"></script>
{% get_current_language as LANGUAGE_CODE %}
<script src="{% static 'js/data/indicators' %}/{{ LANGUAGE_CODE }}/ecg-indicators-{{ object.indicator }}-data_{{ LANGUAGE_CODE }}.js"></script>

<script type="text/javascript">

</script>
<script src="{% static 'ecg_balancing/js/company_balance_indicator_detail.js' %}"></script>
{% endblock javascript %}
