{% extends "base.html" %}
{% load i18n l10n cms_tags menu_tags sekizai_tags thumbnail %}
{% load static from staticfiles %}
{% load leaflet_tags %}

{% block css %}
  {{ block.super }}
  <link href="{% static 'ecg_balancing/css/profiles.css' %}" rel="stylesheet">
  {% leaflet_css %}
{% endblock css %}

{% block page_title %}{% trans "Companies" %}{% endblock %}

{% block base_content %}

  {% if request.user.is_staff %}
    <a href="{% url 'companies-admin' %}" class="btn btn-default m-bottom alert-warning{% if not not_approved_companies %} disabled{% endif %}">
      <span class="glyphicon glyphicon-pencil"></span>
      {% trans "Approve companies" %}
      {% if not_approved_companies %} <span class="badge">{{ not_approved_companies|length }}</span>{% endif %}
    </a>
  {% endif %}
  {% if request.user.is_authenticated %}
    <a class="btn btn-default m-bottom" href="{% url "company-create" %}"><span class="glyphicon glyphicon-plus"></span> {% trans "Create a company" %}</a>
  {% endif %}

  <!-- Nav tabs -->
  <ul class="nav nav-pills pull-right" role="tablist">
    <li class="active"><a href="#map" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-map-marker"></span> {% trans "Map" %}</a></li>
    <li><a href="#list" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-list"></span> {% trans "List" %}</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <!-- Map tab -->
    <div class="tab-pane fade in active" id="map">
      {% leaflet_map "company_map_overview" callback="company_map_overview_init" %}
      <script type="text/javascript">
        function company_map_overview_init (map, options) {
          var markers = new L.featureGroup();
          {% for company in object_list %}
            var link = "{% url 'company-detail' company.slug %}";
            {% if company.logo %}
              markers.addLayer(L.marker([{{ company.location_lat|unlocalize }}, {{ company.location_lon|unlocalize }}]).addTo(map).bindPopup('<a href="' + link + '"><img class="" src="{% thumbnail company.logo 25x0 crop=scale upscale %}" alt=""/><span class="centered-text-to-img--smaller space-left">{{ company }}</span></a>'));
            {% else %}
              markers.addLayer(L.marker([{{ company.location_lat|unlocalize }}, {{ company.location_lon|unlocalize }}]).addTo(map).bindPopup('<a href="' + link + '"><span class="centered-text-to-no-img--smaller">{{ company }}</span></a>'));
            {% endif %}
          {% endfor %}
          map.fitBounds(markers.getBounds());
          L.tileLayer('http://otile4.mqcdn.com/tiles/1.0.0/osm/{z}/{x}/{y}.png', {
            detectRetina: true,
            attribution: '<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery &copy; <a href="http://www.mapquest.com/">Mapquest</a>'
          }).addTo(map);
        }
      </script>
    </div>
    <!-- List tab -->
    <div class="tab-pane fade" id="list">
      {% for company in object_list %}
        <a href="{% url 'company-detail' company.slug %}" class="company-detail-link no-decoration center clearfix">
          {% if company.logo %}
            <img class="" src="{% thumbnail company.logo 100x0 crop=scale upscale %}" alt=""/>
            <span class="centered-text-to-img space-left">{{ company }}</span>
          {% else %}
            <span class="no-logo-space">&nbsp;</span>
            <span class="centered-text-to-no-img space-left">{{ company }}</span>
          {% endif %}
        </a>
      {% endfor %}
    </div>
  </div>

{% endblock base_content %}

{% block javascript %}
  {{ block.super }}
  {% leaflet_js %}

{% endblock javascript %}
