{% extends "base.html" %}
{% load i18n cms_tags menu_tags sekizai_tags thumbnail crispy_forms_tags %}
{% load static from staticfiles %}
{% load staticfiles %}
{% load django_select2_tags %}

{% block css %}
  {{ block.super }}
  <link href="{% static 'ecg_balancing/css/profiles.css' %}" rel="stylesheet">
  {% import_django_select2_css %}
  <!-- For testing importing it again, but with another tag and light=1 -->
  {% import_django_select2_js_css light=1 %}
  <style type="text/css">
    #id_company {
      width: 100%;
    }
  </style>
{% endblock css %}

{% block page_title %}{{ object.name }}{% endblock %}

{% block base_content %}

  <h3>{% trans "Join a company" %}</h3>

  {% if form.company.errors %}
  <p class="p-top">
    <span id="error_1_id_company" class="alert alert-warning">{% for error in form.company.errors %}
      {{ error }}{% endfor %}</span>
  </p>
  {% endif %}
  
  <p class="p-top">
  {% trans "Choose the company you want to join. The company administrator will be informed about your request." %}
  </p>

  <form class="page-form" enctype="multipart/form-data" method="post" action="{% url "company-join" %}">
    {% csrf_token %}
    <div class="fieldWrapper">
      {{ form.company }}
    </div>
    <br/>
    <input type="submit" name="submit" value="{% trans "Join company" %}" class="btn btn-primary"/>
  </form>

{% endblock base_content %}

{% block javascript %}
  {{ block.super }}
  {% import_django_select2_js %}
  <script type="text/javascript">
    $(document).ready(function () {
      $("#id_company").select2({
        placeholderOption: 'first',
        placeholder: '{% trans "Select a company" %}',
        width: '100%',
      });
    });
  </script>
{% endblock javascript %}
