{% extends "base.html" %}
{% load i18n cms_tags menu_tags sekizai_tags thumbnail crispy_forms_tags %}
{% load static from staticfiles %}

{% block css %}
  {{ block.super }}
  {{ form.media }}
  <link href="{% static 'ecg_balancing/css/profiles.css' %}" rel="stylesheet">
{% endblock css %}

{% block page_title %}{% trans "Edit" %} - {{ object.name }}{% endblock %}

{% block base_content %}

  <div class="row profile-company-header clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <a href="{% url 'company-detail' object.slug %}" class="button pull-right">
        <span class="glyphicon glyphicon-chevron-left"></span>
        {% trans "Back" %}
      </a>

      <div class="profile-company-logo">
        {% if object.logo %}
          <img src="{% thumbnail object.logo 100x0 crop=scale upscale %}" alt=""/>
        {% else %}
          <a href="{% url 'company-update' object.slug %}"
             class="glyphicon glyphicon-picture glyphicon-grey center"></a>
        {% endif %}
      </div>
      <div class="profile-company-details">
        <h1 class="profile-company-details-name">{{ object.name }}</h1>
      </div>

    </div>
  </div>

  {% if not is_admin %}
    {% trans "You don't have the rights to edit the company" %}
  {% else %}

    <h3>{% trans "Edit" %}</h3>

    <form class="page-form" enctype="multipart/form-data" method="post" action="{% url "company-update" object.slug %}">
      {% csrf_token %}
      {% crispy form %}

      <div class="clearboth textalignright col-lg-2 col-md-2">&nbsp;</div>
      <div class="last-form-element col-lg-5 col-md-5">
        <span class="asteriskField">*</span> - {% trans "Please fill out" %}
      </div>
      <div class="clearboth col-lg-2 col-md-2">&nbsp;</div>
      <div class="pad-bottom col-lg-5 col-md-5">
        <input type="submit" name="submit" value="{% trans "Save" %}" class="button primary"/>
        {% if not approved %}
          <input type="submit" name="publish" value="{% trans "Publish" %}" class="button"/>
        {% endif %}
      </div>
    </form>
  {% endif %}

{% endblock base_content %}


{% block javascript %}
  {{ block.super }}
  <script type="text/javascript">
    $('#div_id_location_lat').hide();
    $('#div_id_location_lon').hide();
  </script>
{% endblock javascript %}
