{% extends "base.html" %}
{% load i18n cms_tags menu_tags sekizai_tags thumbnail %}
{% load static from staticfiles %}

{% block css %}
  {{ block.super }}
  <link href="{% static 'ecg_balancing/css/company_balance.css' %}" rel="stylesheet">
{% endblock css %}

{% block page_title %}{{ object.indicator|upper }} - {{ object.company_balance.company }} - {% trans 'ECG Balance' %}
  {{ object.company_balance.year }}{% endblock %}

{% block base_content %}

  <div class="ecg-matrix-header bubble">
    <div class="bubble-inner unselectable">
      <a href="{% url 'company-detail' object.company_balance.company.slug %}"
         class="company-detail-link no-decoration center clearfix">

        {% if object.company_balance.company.logo %}
          <img class="" src="{% thumbnail object.company_balance.company.logo 100x0 crop=scale upscale %}" alt=""/>
        {% endif %}
        <span class="centered-text-to-img">{{ object.company_balance.company }}</span>
      </a>
      <a href="{% url 'balance-detail' company_slug=object.company_balance.company.slug balance_year=object.company_balance.year %}"
         class="no-decoration center">
        <h2>{% trans 'ECG Balance' %} {{ object.company_balance.year }}</h2>
      </a>
    </div>
  </div>


  <h2 class="indicator-page-title center {% ifnotequal object.indicator.stakeholder 'n' %}ecg-green{% else %}negative-color{% endifnotequal %}">
    <span class="js-indicator-page-title-inner"></span></h2>


  <form method="POST" action="{% url 'indicator-update' pk=object.pk %}">
    {% csrf_token %}
    <div class="indicator-editor-container bubble">
      <div class="bubble-inner">
        <div class="row meta">
          <div class="meta-left col-lg-8 col-md-8 col-sm-12 col-xs-12">
          </div>
          <div class="meta-right col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <button type="submit" class="button primary pull-right">{% trans "Save" %}</button>
            {% ifnotequal object.indicator.stakeholder 'n' %}
              <div class="company-balance-indicator-points pull-right">
                {{ object.evaluation }} / {{ object.indicator.max_evaluation }}
              </div>
            {% else %}
              <div id="company-balance-indicator-{{ object.indicator }}-0-slider"
                   class="company-balance-indicator-slider pull-right">
                <input id="company-balance-indicator-{{ object.indicator.slugify }}-points" type="text"
                       value="{{ object.evaluation }}"
                       name="indicator-points"
                       class="center">
              </div>
            {% endifnotequal %}
          </div>
        </div>

        <div class="bubble-contents">
          <textarea name="company-balance-indicator-{{ object.indicator.slugify }}-editor">
            {% if object.description %}
              {{ object.description }}
            {% else %}
              <p>Editieren Sie diesen Indikator:</p>
              <ul>
                <li>darauf klicken</li>
                <li>editieren</li>
              </ul>
            {% endif %}
          </textarea>
        </div>

      </div>
    </div>
  </form>

  {% for subindicator in subindicators %}

    <form method="POST" action="{% url 'indicator-update' pk=subindicator.pk %}">
      {% csrf_token %}
      <div class="indicator-editor-container bubble">
        <div class="bubble-inner">
          <div class="row meta">
            <div class="meta-left col-lg-8 col-md-8 col-sm-12 col-xs-12">
              <h3 class="subindicator-title ecg-green"
                  data-position="{{ subindicator.indicator.subindicator_number }}"></h3>
            </div>
            <div class="meta-right col-lg-4 col-md-4 col-sm-12 col-xs-12">
              <button type="submit" class="button primary pull-right">{% trans "Save" %}</button>
              <div id="company-balance-indicator-{{ subindicator.indicator.slugify }}-slider"
                   class="company-balance-indicator-slider pull-right">
                <input id="company-balance-indicator-{{ subindicator.indicator.slugify }}-points" type="text"
                       value="{{ subindicator.evaluation }}"
                       name="indicator-points"
                       class="center">
              </div>
            </div>
          </div>

          <div class="bubble-contents">
            <textarea name="company-balance-indicator-{{ subindicator.indicator.slugify }}-editor">
              {% if subindicator.description %}
                {{ subindicator.description }}
              {% else %}
                <p>Editieren Sie diesen Indikator</p>
                <ul>
                  <li>darauf klicken</li>
                  <li>editieren</li>
                </ul>
              {% endif %}
            </textarea>
          </div>

        </div>
      </div>
    </form>
  {% endfor %}

{% endblock base_content %}


{% block javascript %}
  {{ block.super }}
  <script src="{% static 'ecg_balancing/js/vendor/ckeditor/ckeditor.js' %}"></script>
  <!--<script src="{% static 'ecg_balancing/js/vendor/ctl.singlefile.experimental.min.js' %}"></script>-->
  <script src="{% static 'ecg_balancing/js/vendor/bootstrap.touchspin.js' %}"></script>
  {% get_current_language as LANGUAGE_CODE %}
  <script
      src="{% static 'js/data/indicators' %}/{{ LANGUAGE_CODE }}/ecg-indicators-{{ object.indicator }}-data_{{ LANGUAGE_CODE }}.js"></script>

  <script type="text/javascript">

  </script>
  <script src="{% static 'ecg_balancing/js/company_balance_indicator_detail.js' %}"></script>
{% endblock javascript %}
