{% extends "base.html" %}
{% load i18n cms_tags menu_tags sekizai_tags thumbnail %}
{% load static from staticfiles %}

{% block css %}
  {{ block.super }}
  <link href="{% static 'ecg_balancing/css/company_balance.css' %}" rel="stylesheet">
{% endblock css %}

{% block page_title %}{% trans 'ECG Balance' %} {{ object.year }} - {{ object.company }}{% endblock %}

{% block base_content %}

    {% if can_edit %}
      <div class="pull-right">
        <a href="{% url 'balance-update' company_slug=object.company.slug balance_year=object.year %}"
           class="button">
          <span class="glyphicon glyphicon-pencil"></span>
          {% trans "Edit" %}
        </a>
        <a href="{% url 'balance-export' company_slug=object.company.slug balance_year=object.year %}"
           class="button primary">
          <span class="glyphicon glyphicon-export"></span>
          {% trans "Export as PDF" %}
        </a>
      </div>
    {% endif %}

  {% include 'ecg_balancing/includes/balance_header.html' with company_balance=object %}


    {% get_current_language as LANGUAGE_CODE %}
    <div id="ecg-matrix-container" class="container container-page">
      {% with 'ecg_balancing/dustjs/company_balance_overview-output_'|add:LANGUAGE_CODE|add:'.html' as matrix_html %}
        {% include matrix_html %}
      {% endwith %}
    </div>

{% endblock base_content %}


{% block javascript %}
  {{ block.super }}
  <script src="{% static 'ecg_balancing/js/utils.js' %}"></script>
  <script type="text/javascript">
    var indicatorBaseUrl = location.href;
    var indicatorPoints = {
    {% for indicator in indicators %}
      {{ indicator.indicator.slugify }}: {{ indicator.evaluation }},
    {% endfor %}
    }
    ;
    var is_sole_proprietorship = '{{ object.is_sole_proprietorship }}' === 'True';

  </script>
  <script src="{% static 'ecg_balancing/js/company_balance_detail.js' %}"></script>
{% endblock javascript %}
