{% extends "base.html" %}
{% load i18n cms_tags menu_tags sekizai_tags thumbnail crispy_forms_tags %}
{% load static from staticfiles %}
{% load staticfiles %}

{% block css %}
  {{ block.super }}
  {{ form.media }}
  <link href="{% static 'ecg_balancing/css/profiles.css' %}" rel="stylesheet">
{% endblock css %}

{% block page_title %}{{ object.name }}{% endblock %}

{% block base_content %}

  <a href="{% url 'user-detail' request.user.pk %}" class="btn btn-default pull-right">
    <span class="glyphicon glyphicon-chevron-left"></span>
    {% trans "Back" %}
  </a>

  <h3>{% trans "Create a company" %}</h3>

  <p>
    {% trans "Enter the data of the new company. After creating the company an administrator will need to approve it and you will be notified by email." %}
  </p>

  <form class="page-form" enctype="multipart/form-data" method="post"
        action="{% url "company-create" %}">
    {% csrf_token %}
    {% crispy form %}
    <div class="clearboth textalignright col-lg-2 col-md-2">&nbsp;</div>
    <div class="last-form-element col-lg-5 col-md-5">
      <span class="asteriskField">*</span> - {% trans "Please fill out" %}
    </div>
    <div class="clearboth col-lg-2 col-md-2">&nbsp;</div>
    <div class="pad-bottom col-lg-5 col-md-5">
      <input type="submit" name="submit" value="{% trans "Create the company" %}" class="btn btn-primary"/>
    </div>
  </form>

{% endblock base_content %}

{% block javascript %}
  {{ block.super }}
  <script type="text/javascript">
    $('#div_id_location_lat').hide();
    $('#div_id_location_lon').hide();
  </script>
{% endblock javascript %}
