{% extends "base.html" %}
{% load i18n cms_tags menu_tags sekizai_tags thumbnail crispy_forms_tags %}
{% load static from staticfiles %}

{% block css %}
  {{ block.super }}
  {{ form.media }}
  <link href="{% static 'ecg_balancing/css/company_balance.css' %}" rel="stylesheet">
{% endblock css %}

{% block page_title %}{% trans "Edit ECG Balance" %} {{ object.year }} - {{ object.company }}{% endblock %}

{% block base_content %}

  <a href="{% url 'balance-detail' object.company.slug object.year %}" class="button pull-right">
    <span class="glyphicon glyphicon-chevron-left"></span>
    {% trans "Back" %}
  </a>

  {% include 'ecg_balancing/includes/balance_header.html' with company_balance=object %}

    <h3>{% trans "Edit ECG Balance" %}</h3>

    <form class="page-form" enctype="multipart/form-data" method="post"
          action="{% url "balance-update" object.company.slug object.year %}">
      {% csrf_token %}
      {% crispy form %}
      <div class="clearboth textalignright col-lg-2 col-md-2">&nbsp;</div>
      <div class="last-form-element col-lg-5 col-md-5">
        <span class="asteriskField">*</span> - {% trans "Please fill out" %}
      </div>
      <div class="clearboth col-lg-2 col-md-2">&nbsp;</div>
      <div class="pad-bottom col-lg-5 col-md-5">
        <input type="submit" name="submit" value="{% trans "Save" %}" class="button primary"/>
      </div>
    </form>

{% endblock base_content %}

{% block javascript %}
  {{ block.super }}
  <script src="{% static 'ecg_balancing/js/company_balance_update.js' %}"></script>
{% endblock javascript %}
