{% extends "base.html" %}
{% load i18n cms_tags menu_tags sekizai_tags thumbnail %}
{% load static from staticfiles %}

{% block css %}
  {{ block.super }}
  <link href="{% static 'ecg_balancing/css/company_balance.css' %}" rel="stylesheet">
{% endblock css %}

{% block page_title %}{{ object.indicator|upper }} - {{ object.company_balance.company }} - {% trans 'ECG Balance' %}
  {{ object.company_balance.year }}{% endblock %}

{% block base_content %}
  <a href="{% url 'balance-detail' company_slug=object.company_balance.company.slug pk=object.company_balance.id %}" class="btn btn-default pull-right">
    <span class="glyphicon glyphicon-chevron-left"></span>
    {% trans "Back to balance" %}
  </a>

  {% include 'ecg_balancing/includes/balance_header.html' with company_balance=object.company_balance %}

  <h2 class="indicator-page-title center {% ifnotequal object.indicator.stakeholder 'n' %}ecg-green{% else %}negative-color{% endifnotequal %}">
    <span class="js-indicator-page-title-inner"></span>
  </h2>



  {% if can_edit %}
    <form method="POST"
          action="{% url 'indicator-update' company_slug=object.company_balance.company.slug balance_id=object.company_balance.id indicator_id=object.indicator.slugify %}">
    {% csrf_token %}
  {% endif %}

<div class="feedback-container clearfix">
  <a href="{% url 'feedback-indicator' object.indicator %}?url={{ request.get_full_path }}" class="btn btn-default pull-right space-left">
    <span class="glyphicon glyphicon-envelope"></span>
    {% trans "Send Feedback" %}
  </a>
  <a href="http://sinnwerkstatt.github.io/gemeinwohl-oekonomie/#matrix-{{object.indicator}}-goals" target="_blank" class="btn btn-default pull-right">
    <span class="glyphicon glyphicon-info-sign"></span>
    {% trans "Indicator Infos" %}
  </a>
</div>


<div class="indicator-editor-container bubble">
  <div class="bubble-inner">
    <div class="row meta">
      <div class="meta-left col-lg-8 col-md-8 col-sm-12 col-xs-12">
      </div>
      <div class="meta-right col-lg-4 col-md-4 col-sm-12 col-xs-12">
        {% ifnotequal object.indicator.stakeholder 'n' %}
          <div class="company-balance-indicator-points pull-right">
            {{ object.evaluation }} / {{ object.indicator.max_evaluation }}
          </div>
        {% else %}
          {% if not can_edit %}
            <div class="company-balance-indicator-points pull-right">
              {{ object.evaluation }}
            </div>
          {% else %}
            <div id="company-balance-indicator-{{ object.indicator }}-0-slider"
                 class="company-balance-indicator-slider pull-right">
              <input id="company-balance-indicator-{{ object.indicator.slugify }}-points" type="text"
                     value="{{ object.evaluation }}"
                     name="company-balance-indicator-{{ object.indicator.slugify }}-points"
                     class="center">
            </div>
          {% endif %}
        {% endifnotequal %}
      </div>
    </div>

    <div class="bubble-contents">
      {% if can_edit %}
        <textarea name="company-balance-indicator-{{ object.indicator.slugify }}-editor">
          {{ object.get_description|safe }}
        </textarea>
      {% else %}
        <div class="company-balance-indicator-text">
          {% if object.get_description %}
            {{ object.get_description|safe }}
          {% else %}
            <br/>
          {% endif %}
        </div>
      {% endif %}
    </div>

    <div class="key-figures-container" data-indicator-slug="{{ object.indicator.slugify }}">
      {% if can_edit %}
        <textarea name="company-balance-indicator-{{ object.indicator.slugify }}-keyfigures-editor"
            id="company-balance-indicator-{{ object.indicator.slugify }}-keyfigures-editor">
            {{ object.get_key_figures }}
        </textarea>
      {% else %}
        <div class="company-balance-indicator-text">
          {{ object.get_key_figures|safe }}
        </div>
      {% endif %}
    </div>

  </div>
</div>

{% for subindicator in subindicators %}

  {% if is_sole_proprietorship and not subindicator.indicator.sole_proprietorship %}
  {% else %}

    <div class="indicator-editor-container bubble">
      <div class="bubble-inner indicator-bubble">
        <div class="row meta">
          <div class="meta-left col-lg-9 col-md-9 col-sm-12 col-xs-12">
            <h3 class="subindicator-title ecg-green"
                data-position="{{ subindicator.indicator.subindicator_number }}"></h3>
          </div>
          <div class="meta-right col-lg-3 col-md-3 col-sm-12 col-xs-12">
            {% if not can_edit %}
              <div class="company-balance-indicator-points pull-right center">
                {{ subindicator.evaluation }} %
                <div class="company-balance-indicator-relevance">
                  ({% trans "Relevance" %}: {{ subindicator.indicator.get_relevance_display }})
                </div>
              </div>
            {% else %}
              <div id="company-balance-indicator-{{ subindicator.indicator.slugify }}-slider"
                   class="company-balance-indicator-slider pull-right">
                  {{ subindicator.evaluation.errors }}
                <input id="company-balance-indicator-{{ subindicator.indicator.slugify }}-points" type="text"
                       value="{{ subindicator.evaluation }}"
                       name="company-balance-indicator-{{ subindicator.indicator.slugify }}-percentage"
                       class="center">

                <div class="company-balance-indicator-relevance
                            company-balance-indicator-{{ subindicator.indicator.slugify }}-relevance">

                  {% trans "Relevance" %}: <select class="select form-control company-balance-indicator-relevance" name="company-balance-indicator-{{ subindicator.indicator.slugify }}-relevance" data-default="{{ subindicator.indicator.relevance }}">
                    {% for option in indicator_relevance_values %}
                      <option value="{{ option.0 }}" {% if option.0 == subindicator.get_relevance %} selected="selected" {% endif %}>
                        {{ option.1 }}
                      </option>
                    {% endfor %}
                  </select>

                  <div class="company-balance-indicator-relevance-comment company-balance-indicator-{{ subindicator.indicator.slugify }}-relevance-comment{% if not subindicator.relevance_comment and not subindicator.relevance_comment.errors %} hidden{% endif %}">
                    {% trans "Please explain why your assessment for your business is different, the relevance of the preset value." %} <textarea id="company-balance-indicator-{{ subindicator.indicator.slugify }}-relevance-comment" class="textarea form-control company-balance-indicator-relevance-comment" rows="2" cols="1" name="company-balance-indicator-{{ subindicator.indicator.slugify }}-relevance-comment">{{subindicator.relevance_comment|default_if_none:""}}</textarea>
                  </div>
                </div>
              </div>
            {% endif %}
          </div>
        </div>

        <div class="panel-group" data-position="key-figures">
          <div class="row collapse-header" data-toggle="collapse" data-parent="panel-group">
            <span class="glyphicon glyphicon-chevron-right glyphicon-grey"></span>
            <h4 class="subindicator-title ecg-green">{% trans "Key figures" %}</h4>
          </div>

          <div class="key-figures-container collapse-content collapse" data-indicator-position="{{ subindicator.indicator.subindicator_number }}" data-indicator-slug="{{ subindicator.indicator.slugify }}">
            {% if can_edit %}
              <textarea name="company-balance-indicator-{{ subindicator.indicator.slugify }}-keyfigures-editor"
                  id="company-balance-indicator-{{ subindicator.indicator.slugify }}-keyfigures-editor">
                  {{ subindicator.get_key_figures }}
              </textarea>
            {% else %}
              <div class="company-balance-indicator-text">
                {{ subindicator.get_key_figures|safe }}
              </div>
            {% endif %}
          </div>
        </div>

        <div class="panel-group" data-position="target-questions">
          <div class="row collapse-header" data-toggle="collapse" data-parent="panel-group">
            <span class="glyphicon glyphicon-chevron-right glyphicon-grey"></span>
            <h4 class="subindicator-title ecg-green">{% trans "Target questions" %}</h4>
          </div>
          <div class="bubble-contents collapse-content collapse">
            {% if can_edit %}
              <textarea name="company-balance-indicator-{{ subindicator.indicator.slugify }}-editor">
                {{ subindicator.get_description|safe }}
              </textarea>
            {% else %}
              <div class="company-balance-indicator-text">
                {{ subindicator.get_description|safe }}
              </div>
            {% endif %}
          </div>
        </div>

        <div class="panel-group" data-position="evaluation-table">
          <div class="row collapse-header" data-toggle="collapse" data-parent="panel-group">
            <span class="glyphicon glyphicon-chevron-right glyphicon-grey"></span>
            <h4 class="subindicator-title ecg-green">{% trans "Evaluation table" %}</h4>
          </div>

          <div class="evaluation-table-container collapse-content collapse" data-indicator-position="{{ subindicator.indicator.subindicator_number }}" data-indicator-slug="{{ subindicator.indicator.slugify }}">
            <div class="company-balance-indicator-text">
              {{ subindicator.get_evaluation_table|safe }}
            </div>
          </div>
        </div>

      </div>

    </div>
  {% endif %}

{% endfor %}

  {% if can_edit %}
    <div class="save-button-container clearfix pull-right page-form">
      <button type="submit" class="btn btn-primary">{% trans "Save" %}</button>
    </div>
  {% endif %}

{% if can_edit %}
  </form>
{% endif %}

{% endblock base_content %}


{% block javascript %}
  {{ block.super }}
  <script src="{% static 'ecg_balancing/js/vendor/ckeditor/ckeditor.js' %}"></script>
  <!--<script src="{% static 'ecg_balancing/js/vendor/ctl.singlefile.experimental.min.js' %}"></script>-->
  <script src="{% static 'ecg_balancing/js/vendor/bootstrap.touchspin.js' %}"></script>
  {% get_current_language as LANGUAGE_CODE %}
  <script
      src="{% static 'js/data/indicators' %}/{{ LANGUAGE_CODE }}/ecg-indicators-{{ object.indicator }}-data_{{ LANGUAGE_CODE }}.js"></script>

  <script type="text/javascript">
    var is_admin = {% if is_admin %}true{% else %}false{% endif %};
    var can_edit = {% if can_edit %}true{% else %}false{% endif %};
    var is_sole_proprietorship = '{{ is_sole_proprietorship }}' === 'True';
  </script>
  <script src="{% static 'ecg_balancing/js/company_balance_indicator_detail.js' %}"></script>
{% endblock javascript %}
