{% extends "base.html" %}
{% load i18n cms_tags menu_tags sekizai_tags %}

{% block base_content %}

  {% if form.errors %}
    <p>{% trans "Your username and password didn't match. Please try again." %}</p>
  {% endif %}

  <form method="post" action="{% url 'django.contrib.auth.views.login' %}">
    {% csrf_token %}

    <div id="div_id_username" class="form-group">
      <label for="id_username" class="control-label clearboth text-right col-lg-2 col-md-2">
        {{ form.username.label_tag }}
    </label>
      <div class="controls col-lg-5 col-md-5">
        <input class="textinput textInput form-control" id="id_username" maxlength="255" name="username" type="text">
      </div>
    </div>

    <div id="div_id_password" class="form-group">
      <label for="id_password" class="control-label clearboth text-right col-lg-2 col-md-2">
        {{ form.password.label_tag }}
    </label>
      <div class="controls col-lg-5 col-md-5">
        <input class="textinput textInput form-control" id="id_password" maxlength="4096" name="password" type="password">
      </div>
    </div>

    <div class="clearboth textalignright col-lg-2 col-md-2">&nbsp;</div>
    <div class="last-form-element col-lg-5 col-md-5">
      <span class="asteriskField">*</span> - {% trans "Please fill out" %}
    </div>
    <div class="clearboth col-lg-2 col-md-2">&nbsp;</div>
    <div class="pad-bottom col-lg-5 col-md-5">
      <input type="submit" name="submit" value="{% trans "Login" %}" class="button primary"/>
    </div>
    <input type="hidden" name="next" value="{% url 'pages-root' %}"/>

  </form>

{% endblock %}
