{% extends "base.html" %}
{% load i18n cms_tags menu_tags sekizai_tags thumbnail crispy_forms_tags %}
{% load static from staticfiles %}

{% block css %}
  {{ block.super }}
  <link href="{% static 'ecg_balancing/css/profiles.css' %}" rel="stylesheet">
{% endblock css %}

{% block page_title %}{% trans "Edit" %} - {{ user.first_name }} {{ user.last_name }}{% endblock %}

{% block base_content %}
  <div class="row">

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <a href="{% url 'user-detail' user.pk %}" class="button pull-right">
        <span class="glyphicon glyphicon-chevron-left"></span>
        {% trans "Back" %}
      </a>

      <h3>{% trans "Edit profile" %}</h3>

      <form class="page-form" enctype="multipart/form-data" method="post" action="{% url "user-update" user.pk %}">
        {% csrf_token %}
        {% crispy form %}

        <div class="clearboth textalignright col-lg-2 col-md-2"></div>
        <div class="last-form-element col-lg-5 col-md-5">
          <span class="asteriskField">*</span> - {% trans "Please fill out" %}
        </div>
        <div class="clearboth textalignright col-lg-2 col-md-2">&nbsp;</div>
        <div class="col-lg-5 col-md-5">
          <input type="submit" name="submit" value="{% trans "Save" %}" class="btn btn-primary"/>
        </div>
      </form>

    </div>
  </div>

  <div class="row p-top">

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p-top">
      <h3>{% trans "Change password" %}</h3>

      <p>{% trans "To change your password click here" %}:
        <a href="{% url "password_change" %}" class="btn btn-default">
          {% trans "Change password" %}
        </a>
      </p>

    </div>

  </div>




{% endblock base_content %}
