{% extends "base.html" %}
{% load i18n cms_tags menu_tags sekizai_tags thumbnail %}
{% load static from staticfiles %}

{% block css %}
  {{ block.super }}
  <link href="{% static 'ecg_balancing/css/profiles.css' %}" rel="stylesheet">
{% endblock css %}

{% block page_title %}{{ object.first_name }} {{ object.last_name }}{% endblock %}

{% block base_content %}

  <div class="row">
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
      <div class="profile-user-avatar">
        {% if object.profile.avatar %}
          <img src="{% thumbnail object.profile.avatar 230x0 crop=scale upscale %}"/>
        {% elif not is_same_user %}
          <span class="glyphicon glyphicon-user glyphicon-grey__no_hover profile-user-avatar-empty">
          </span>
        {% else %}
          <a class="glyphicon glyphicon-user glyphicon-grey profile-user-avatar-empty"
             href="{% url 'user-update' object.pk %}" title="{% trans "Upload profile photo" %}">
          </a>
        {% endif %}
      </div>
      <div class="profile-user-name">
        {{ object.first_name }} {{ object.last_name }}
      </div>
      <div class="profile-user-details">
        <span class="glyphicon glyphicon-envelope"></span>
        <a href="mailto:{{ object.email }}">{{ object.email }}</a>
      </div>
    </div>
    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
      {% if is_same_user %}
      <p class="clearfix">
        <a href="{% url 'user-update' object.pk %}" class="btn btn-default pull-right">
          <span class="glyphicon glyphicon-pencil"></span>
          {% trans "Edit" %}
        </a>
      </p>
      {% endif %}

      {% if is_same_user or companies_member %}
        <h4>{% trans "Companies" %}:</h4>
      {% endif %}

      {% if companies_member or companies_pending or companies_not_approved %}
        <ul class="list-unstyled">
        {% for company in companies_member %}
          <li>
            <a href="{% url 'company-detail' company.slug %}">{{ company }}</a>
          {% if company in companies_admin and is_same_user%}
            (<a href="{% url 'company-admin' company.slug %}">Admin</a>)
          {% endif %}
          </li>
        {% endfor %}
        {% for company in companies_pending %}
          <li>
            <a href="{% url 'company-detail' company.slug %}">{{ company }}</a>
          {% if is_same_user %}
            ({% trans "Membership pending" %})
          {% endif %}
          </li>
        {% endfor %}
        {% for company in companies_not_approved %}
          <li>
            <a href="{% url 'company-detail' company.slug %}">{{ company }}</a>
            {% if is_same_user %}
              ({% trans "Not approved" %})
            {% endif %}
          </li>
        {% endfor %}
        </ul>
      {% endif %}

      <p class="alert alert-info">{% trans "If you have not already created a company profile, you can do it here" %}: <a class="alert-link" href="{% url 'company-create' %}">{% trans "Create a company" %}</a></p>

      <p class="alert alert-info">{% trans "If you have already created a company profile, click" %}: <a class="alert-link" href="{% url 'company-join' %}">{% trans "Join a company" %}</a></p>

      <p class="alert alert-info">{% trans "When you create your company profile for the first time, you have to be released by an administrator, the release you will receive within 3 days. If this is not done or the registration is urgent, please contact us at" %}: <a class="alert-link" href="maito:Susanne.Traumann@ecogood.org">Susanne.Traumann@ecogood.org</a></p>

      {% if is_same_user and not companies_member %}
        <div class="alert alert-warning pull-left">{% trans "You are not a member of a company." %}</div>
      {% endif %}
      {% if not is_same_user and not companies_member %}
        <div class="alert alert-warning pull-left">{% trans "No companies." %}</div>
      {% endif %}
    </div>
  </div>



{% endblock base_content %}
